<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bt.heynath">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Viewpdf"
            android:label="@string/title_activity_viewpdf"
          ></activity>
        <activity
            android:name=".shreemukhi.GajalActivity"
            android:label="@string/title_activity_gajal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shreemukhi.ViewDetails"
            android:label="@string/title_activity_view_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrathnaImportant"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NityaStustiSubmenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NathKiPukarSubmenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayAudio1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayAudio2"
            android:screenOrientation="portrait" />

        <service
            android:name=".reciever.PlayMorningStuti"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".reciever.PlayStutiService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".reciever.AlarmService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".reciever.AlarmReciever"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".reciever.BootReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />
                <action android:name="com.bt.heynath.Check" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AdhayList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scheduler"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayAdhay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NityaStuti"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shreemukhi.ShreeMukhiSubmenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Launch1"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>