<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="biyaniparker.com.parker">
    <!-- Package name (Choice)= parker && keyalice = choice
    Package name (Rajashree)= rajashree && keyalice = rajashree -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- <permission -->
    <!-- android:name="com.cmsbiyani.gcm.permission.C2D_MESSAGE" -->
    <!-- android:protectionLevel="signature" /> -->
    <uses-permission android:name="com.cmsbiyani.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <!-- Changes Do 1. changes images(6 changes)   2.Change App name in string file(1 change)   3.changes in Utilites.java file(4 changes)  -->

    <application
        android:name="biyaniparker.com.parker.utilities.UILApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="biyaniparker.com.parker.MainActivity"
            android:label="Parker"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="biyaniparker.com.parker.view.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="biyaniparker.com.parker.view.category.CategoryListView"
            android:label="@string/title_activity_category_list"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.category.CategoryCreateView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.category.CategoryEditView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.product.ProductListView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.product.ProductCreateViewNew"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.AdminProductMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.size.SizeCreateView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.size.SizeListView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.size.SizeEditView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.user.UserCreateView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.user.UserEditView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.user.PasswordUpdateView"
            android:label="@string/title_activity_password_update_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="biyaniparker.com.parker.view.user.UserListView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.price.PriceCreateView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.price.PriceListView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.price.PriceEditView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.UserHomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.AdminHomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.NewArrival"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.refill.RefillListView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.refill.RefillSubListView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.refill.ProductGridListView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.refill.RefillProductView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.refill.DynamicProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.productdshopping.ProductDetailView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.login.SyncActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.productdshopping.DynamicCategories"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.productdshopping.SearchUserProductsList"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.productdshopping.UserProductFilterView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.userbag.UserBagView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.userbag.OrderSummaryView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.OrderDetailView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.product.ProductEditViewNew"
            android:screenOrientation="portrait" />
        <activity android:name="biyaniparker.com.parker.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="biyaniparker.com.parker.SyncServiceBg" />

        <activity
            android:name="biyaniparker.com.parker.view.homeuser.userorders.OrderListView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.userorders.UserOrderDetailView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.orderdispatch.OrderDispatchView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.productdshopping.ViewProductImage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.orderdispatch.DispatchSummaryView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.product.ProductFilterView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.orderdispatch.RecentDispatchListView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.OrderFilterView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.orderdispatch.PartialDispatchListView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.orderdispatch.PartialDispatchDetail"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.orderdispatch.PartialDispatchDetailNew"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.orderdispatch.RecentDispatchDetailView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.dispatch.UserDispatchListView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.reports.DynamicCategoryReport"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.refill.RefillProductFilterView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.deduct.DeductProductView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.deduct.DynamicProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.productscategarywise.DynamicProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.productscategarywise.ProductFilterView"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.ImageRotateSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name="biyaniparker.com.parker.utilities.ImageQuality"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.DeletedOrderListView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.homeadmin.DeletedOrderDetailView"
            android:screenOrientation="portrait"></activity>

        <service android:name="biyaniparker.com.parker.services.ProductSyncService"></service>

        <activity
            android:name="biyaniparker.com.parker.view.reports.ReportMenu"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.reports.physical_reports.DynamicCategoryPhysicalReport"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.emptystock.DynamicProducts"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.managestock.StockManageProductView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.unitmaster.UnitMasterListView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.unitmaster.CreateUnitMaster"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.unitmaster.UnitMasterEditView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.notice.CreateNoticeView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.notice.NoticeListView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.notice.NoticeView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.productdshopping.ChangeView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="biyaniparker.com.parker.view.homeuser.productdshopping.ImageClass"
            android:screenOrientation="portrait"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/common_full_open_on_phone" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!--
        <activity android:name="com.fcm.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <service android:name="biyaniparker.com.parker.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>